{% extends "layout.html" %}
{% block title %}Cars List{% endblock %}
{% block head %}
  {{ super() }}
  <!-- Additional head content goes here -->
{% endblock %}

{% block content %}
  <h2>Cars List</h2>
  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Color</th>
        <th>Model</th>
        <th>Brand</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for car in garage %}
        <tr>
          <td>{{ car[0] }}</td>
          <td>{{ car[1] }}</td>
          <td>{{ car[2] }}</td>
          <td>{{ car[3] }}</td>
        
          <td style="display: flex; justify-content: space-between;">
            <a href="{{ url_for('update_car', car_id=car[0]) }}" style="text-decoration: none;">
                <input type="submit" value="Update" style="color: black; width: 80px;">
            </a>
            <form method="POST" action="{{ url_for('delete_garage', garage_id=car[0]) }}">
                <input type="submit" value="Delete" style="color: black; width: 80px;">
            </form>
        </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
